body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.master-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px 15px 10px 15px;
}

.query-card {
    background-color: #9dcef7;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 24px 24px 10px 10px;
    margin: 10px;
}

h1 {
    font-size: 24px;
    margin: 0 0 16px 0;
}



label {
    font-weight: bold;
    margin: 8px 8px 0px 10px;
}

input,
select {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="submit"],
.add-btn {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 8px 4px 4px 4px;
    padding: 4px;
}
.add-btn:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
  }
.generate-btn {
    background-color: #8b0ad6;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 8px 4px 4px 4px;
    padding: 4px;
}
.del-btn {
    background-color: #d33030;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 8px 4px 4px 4px;
    padding: 4px;
}
}

.constraints-container {
    display: flex;
    border: red;
}

.constraint-field {
    display: flex;
    padding: 10px 10px 10px 10px;
}
.core-constraint-field {
    display: flex;
    margin: 0px 0px 0px 20px;
}
.constraint-specs {
    display: flex;
    margin: 0px 0px 0px 20px;
}

.cypher-display {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: rgb(195, 233, 255);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;
}

#cy {
    height: 500px;
    border: 1px solid #ccc;
    margin-top: 24px;
}