<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Graph Dashboard</title>

    <!-- Cytoscape.js library -->
    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>

    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <h1>Graph Dashboard</h1>
    <div class="cards-container" id="cards-container">
        <div class="card">
            <form id="query-form">
                <label for="nodes">Node:</label>
                <select name="nodes" id="nodes" class="nodes">
                    <option value="null">-- Select a node type --</option>
                </select>
                <input type="submit" value="Create">
                <br>
                <div class="constraint-card-container">
                    <div class="constraint-card">
                        <label for="properties">Property:</label>
                        <select name="properties" id="properties" class="properties">
                            <option value="null">-- Select a property --</option>
                        </select>
                        <div id="constraint-input" class="constraint-input">
                            <div class='constraint-prefix-container'>
                                <select name="constraint-prefix" id="constraint-prefix" class="constraint-prefix">
                                </select>
                            </div>

                            <div id="regex-constraint" class="constraint-field">
                                <label for="regex">Regex:</label>
                                <input type="text" name="regex" id="regex">
                            </div>

                            <div id="range-constraint" class="constraint-field">
                                <label for="min">Min:</label>
                                <input type="number" name="min" id="min">

                                <label for="max">Max:</label>
                                <input type="number" name="max" id="max">
                            </div>

                            <div id="list-constraint" class="constraint-field">
                                <label for="list">List:</label>
                                <input type="text" name="list" id="list">
                            </div>
                        </div>
                    </div>
                </div> <!-- constraint-card-container -->
                <button id="add-constraint-btn" disabled>+ Constraint</button>
            </form>
            <div id="cy"></div>
        </div>

    </div>
    <div id="cy"></div>
    <script>
        // get the schema,property-constraint map from the backend
        let schema = {{ schema| tojson | safe }};
        let propType = {{ propType| tojson | safe }};
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>



</body>

</html>